extends layout
block content
	.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar',aria-expanded="false",aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') JADE-Bootstrap
			
	
	.masthead
		.container
			.jumbotron
				h1 JADE-Bootstrap
				p
					| The power of Bootstrap combined with the speed of Jade for faster and easier web development.
				p
					a.btn.btn-default(href="https://github.com/rajasegar/JADE-Bootstrap") 
						+icon("eye-open")
						|  View on GitHub
					| &nbsp;
					a.btn.btn-default(href="https://github.com/rajasegar/JADE-Bootstrap/archive/master.zip") 
						+icon("download")
						|  Download .zip
					| &nbsp;
					a.btn.btn-default(href="https://github.com/rajasegar/JADE-Bootstrap/archive/master.tar.gz") 
						+icon("download")
						|  Download .tar
				p
					| Currently v0.0.1
	br
	.container
		.row
			.col-md-6
		
				.jumbotron.jumbotron-jade.text-center
					h1 JADE
					p <a class="jumbotron-link" href="http://jade-lang.com">Jade</a> is a high performance template engine heavily influenced by <a class="jumbotron-link" href="http://haml-lang.com/">Haml</a> and implemented with JavaScript for <a class="jumbotron-link" href="http://nodejs.org/">node</a> and browsers. 
					
					a.btn.btn-default(href="http://jade-lang.com") Go to Website
					| &nbsp;
					a.btn.btn-default(href="https://github.com/jadejs/jade") View the GitHub project
			.col-md-6
				.jumbotron.jumbotron-bootstrap.text-center
					h1 Bootstrap
					p <a  class="jumbotron-link" href="http://getbootstrap.com">Bootstrap</a> makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.
					a.btn.btn-default(href="http://getbootstrap.com") Go to Website
					| &nbsp;
					a.btn.btn-default(href="https://github.com/twbs/bootstrap") View the GitHub project
		